<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Boot Systemd</title>
    <style>
     * { margin:0; padding:0; }
    </style>
</head>

<body>
    <div id="scroll" class="dragscroll" style="width:100%; height:400px; overflow:scroll;">
    <%- svg %>
    </div>

    <script>
    document.getElementById('scroll').style.height = window.innerHeight+'px'
    window.onresize = function () {
        document.getElementById('scroll').style.height = window.innerHeight+'px'
    }
    </script>
</body>
<script src="/js/dragscroll.js"></script>

</html>
