<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#units" aria-controls="units" role="tab" data-toggle="tab"><span class="icn-starburst-outline"></span> <%= dico.unit %></a></li>
<li role="presentation"><a href="#exe" aria-controls="exe" role="tab" data-toggle="tab"><span class="icn-starburst"></span> <%= dico.program %></a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="units">
    <%- lists.unit %>
    </div>
    <div role="tabpanel" class="tab-pane" id="exe">
    <%- lists.exe %>
    </div>
</div>