<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sys-journald</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/icon.16.png" sizes="16x16">

    <link href="/css/themes/flatly/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/css/icomoon.css" rel="stylesheet" type="text/css" />
	<link href="/css/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="">

		<div class="navbar navbar-default Xcol-xs-10 Xcol-xs-offset-1" id="nav">
			<form>
				<div class="form-group row vertical-align">
					<label for="search" class="col-xs-3 control-label vbottom"><%= dico.html.program %></label>
					<div class="col-xs-4">
						<input id="search" name="search" id="search" type="search" value="" class="form-control input-sm" placeholder="" autofocus/>
					</div>
					<div class="col-xs-4 input-group">
						<select id="searchtype" class="form-control input-sm">
						<option value="0"><%= dico.html.type.unit %></option>
						<option value="1" selected><%= dico.html.type.program %></option>
					</select>
					<span class="input-group-btn">
                            <a class="btn btn-sm" id="search-exe" href="#" role="button"><span class="icn icn-info2"></span></a>
                        </span>
					</div>
                    <div class="col-xs-1">
                    <div class="btn-group-vertical" role="group" style="position:absolute; right:1px; top:0.5em;">
                        <button  type="button" class="btn btn-sm btn-warning" id="menu1" title="<%= dico.menu.quit %>"><span class="icn-exit"></span></button>
                        <button  type="button" class="btn btn-sm btn-info" id="menu2" title="<%= dico.menu.units %>"><span class="icn-starburst-outline"></span></button>
                        <button  type="button" class="btn btn-sm btn-info" id="menu3" title="<%= dico.menu.plot %>"><span class="icn-stats-bars2"></span></button>
                        <button  type="button" class="btn btn-sm btn-info" id="menu4" title="Partitions"><span class="icn-drive"></span></button>
                        <button  type="button" class="btn btn-sm btn-info" id="menu5" title="Man"><span class="icn-bubble"></span></button>
                        <button  type="button" class="btn btn-sm btn-info" id="menu6" title="Config"><span class="icn-cog"></span></button>
                    </div>
                    </div>
				</div>
				<div class="form-group row vertical-align">
					<label for="boot" class="col-xs-3 control-label"><%= dico.html.boot.caption %></label>
					<div class="col-xs-4">
						<select id="boot" name="boot" class="form-control input-sm">
							<option></option>
						</select>
					</div>
					<span class="col-xs-3 vertical-align"><%= dico.html.boot.notice %></span>
				</div>

				<div class="form-group row vertical-align">
					<label for="date" class="col-xs-3 control-label"><%= dico.html.date %></label>
					<div class="col-xs-3">
						<input id="date" name="date" type="date" class="form-control input-sm" />
					</div>
				</div>

				<div class="form-group row">
					<label for="level" class="col-xs-3 control-label"><%= dico.html.level %></label>
					<div class="col-xs-4">
						<select id="level" name="level" class="form-control input-sm">
							<option value=""></option>
							<option value="0">(0) <%= dico.html.levels[0] %></option>
							<option value="1">(1) <%= dico.html.levels[1] %></option>
							<option value="2">(2) <%= dico.html.levels[2] %></option>
							<option value="3" selected>(3) <%= dico.html.levels[3] %></option>
							<option value="4">(4) <%= dico.html.levels[4] %></option>
							<option value="5">(5) <%= dico.html.levels[5] %></option>
							<option value="6">(6) <%= dico.html.levels[6] %></option>
							<option value="7">(7) <%= dico.html.levels[7] %></option>
						</select>
					</div>
					<div class="col-xs-3 ">
						<button id="send-btn" type="submit" class="btn btn-primary center-block"><span class="icn-search"></span> &nbsp; <span><%= dico.html.find %></span></button>
					</div>
				</div>
			</form>
		</div>

	</div>


	<div id="container">
		<h5 id="commandbash"></h5>
		<div id="content">
			<ol id="logs">
				<h3>Systemd Logs</h3>
				<span><%= dico.html.welcome %> !</span>
				<!------------------------
					...
					-------------------------
				-->
				<br /><br /><br /><br />
				<div class="center">
					<div class="release"></div>
					<div class="uname"></div>
					<div class="nodeinfos"></div>
				</div>
			</ol>
		</div>
	</div>


<hr />
    <h3>Accueil</h3>

    <p><a href="http://www.embeddedjs.com/" target="ejs">www.embeddedjs.com/</a></p>
    <hr />
    <p><a href="/exit">QUITTER</a></p>
</body>

<script>
</script>
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/dialog.js"></script>
<script src="/js/renderer.js"></script>

<script src="/js/dragscroll.js"></script>

</html>
