<%- response.txt %>
<hr />
<form>
<div class="row" class="">
    <div class="col-lg-8">
        <div class="input-group" id="man-search-form">
        <input type="text" class="form-control input-sm" value="<%= response.caption %>" placeholder="Search in man" autofocus>
        <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" type="submit"><span class="icn-search"></span></button>
        </span>
        </div>
    </div>
</div>
</form>