<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#qi" aria-controls="qi" role="tab" data-toggle="tab"> <i class="icn-pacman"></i> -Qi </a></li>
    <li role="presentation"><a href="#ql" aria-controls="ql" role="tab" data-toggle="tab"> <i class="icn-files-empty"></i> -Ql </a></li>
    <li role="presentation"><a href="#mans" aria-controls="mans" role="tab" data-toggle="tab"> <i class="icn-bubble"> man(s) </i></a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="qi">
    <%- response.qi %>
    </div>
    <div role="tabpanel" class="tab-pane" id="ql">
    <%- response.ql %>
    </div>
    <div role="tabpanel" class="tab-pane" id="mans">
        <%- response.mans %>
        <hr />
        <form>
        <div class="row" class="">
            <div class="col-lg-8">
                <div class="input-group" id="man-search-form">
                <input type="text" class="form-control input-sm" placeholder="Search in man" value="<%= response.unit %>">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" type="submit"><span class="icn-search"></span></button>
                </span>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>