

<% for (let key in units) { %>
    <i class="icn icn-info-circle catunit" aria-hidden="true" data-unit="<%= key %>"></i>
    <span class="text-info"><%= key %></span> = <%= units[key] %><br />
<% } %>
<br />
<i class="text-muted">display-manager.service == <%= displayManager %></i>