@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf?9g1g9r') format('truetype'),
    url('../fonts/icomoon.woff?9g1g9r') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icn-"], [class*=" icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-starburst:before {
  content: "\e900";
}
.icn-starburst-outline:before {
  content: "\e901";
}
.icn-arrow-back-outline:before {
  content: "\e902";
}
.icn-menu:before {
  content: "\e5d2";
}
.icn-info-circle:before {
  content: "\f05a";
}
.icn-external-link:before {
  content: "\f08e";
}
.icn-info2:before {
  content: "\f129";
}
.icn-home:before {
  content: "\e903";
}
.icn-pencil2:before {
  content: "\e906";
}
.icn-pacman:before {
  content: "\e916";
}
.icn-files-empty:before {
  content: "\e925";
}
.icn-file-text2:before {
  content: "\e926";
}
.icn-price-tags:before {
  content: "\e936";
}
.icn-calendar:before {
  content: "\e953";
}
.icn-box-add:before {
  content: "\e95e";
}
.icn-drive:before {
  content: "\e963";
}
.icn-database:before {
  content: "\e964";
}
.icn-bubble:before {
  content: "\e96b";
}
.icn-user:before {
  content: "\e971";
}
.icn-search:before {
  content: "\e986";
}
.icn-cog:before {
  content: "\e994";
}
.icn-stats-bars2:before {
  content: "\e99d";
}
.icn-switch:before {
  content: "\e9b6";
}
.icn-list2:before {
  content: "\e9bb";
}
.icn-link:before {
  content: "\e9cb";
}
.icn-eye:before {
  content: "\e9ce";
}
.icn-bookmark:before {
  content: "\e9d2";
}
.icn-star-empty:before {
  content: "\e9d7";
}
.icn-star-full:before {
  content: "\e9d9";
}
.icn-warning:before {
  content: "\ea07";
}
.icn-notification:before {
  content: "\ea08";
}
.icn-question:before {
  content: "\ea09";
}
.icn-info:before {
  content: "\ea0c";
}
.icn-cross:before {
  content: "\ea0f";
}
.icn-checkmark:before {
  content: "\ea10";
}
.icn-checkmark2:before {
  content: "\ea11";
}
.icn-enter:before {
  content: "\ea13";
}
.icn-exit:before {
  content: "\ea14";
}
.icn-checkbox-checked:before {
  content: "\ea52";
}
.icn-insert-template:before {
  content: "\ea72";
}
.icn-new-tab:before {
  content: "\ea7e";
}
.icn-tux:before {
  content: "\eabd";
}

